<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
        </ul>
        <span class="logo"></span>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= if logged_in?(@conn) do %>
      <%= link "Logout", to: session_path(@conn, :delete), method: :delete  %>
      <% else %>
      <%= link "Login", to: session_path(@conn, :new) %>
      <%= link "Register", to: registration_path(@conn, :new)  %>
      <% end %>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="https://hpneo.github.io/gmaps/gmaps.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
